.container {
    height: calc(100vh);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;

    &__card {
        height: 300px;
        width: 250px;
        p {
            font-size: 0.75rem;

            span {
                font-weight: 500;
            }
        }

        &__inner {
            background: pink;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 1), 0 10px 10px -10px rgba(50, 50, 73, 1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            img {
                max-height: 80%;
                width: 100%;
                border-radius: 3px;
            }

            &__bottom {
                display: flex;
                justify-content: space-around;

                button {
                    width: 50%;
                    height: 75%;
                    margin: 5px;
                }

                button:hover {
                    -webkit-filter: brightness(80%);
                }

                button:first-of-type {
                    background: red;
                    border-color: red;
                    border-radius: 5px;
                    box-shadow: none;
                    color: white;
                }

                button:last-of-type {
                    background: green;
                    border-color: green;
                    border-radius: 5px;
                    box-shadow: none;
                    color: white;
                }
            }
        }
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;

    input {
        padding: 20px;  
        height: 15px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 1), 0 10px 10px -10px rgba(50, 50, 73, 1);

    }
}

.config {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    height: calc(100vh);
    width: 100%;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
    display: flex;
    flex-direction: column;

    &__halfUp {
        height: 50%;
        width: 100%;
        background: rgba(161, 237, 250, 0.249);
    }

    &__halfDown {
        height: 50%;
        width: 100%;
        background-color: rgb(250, 222, 250);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        select {
            margin-top: 1rem;

        }
    }
}